<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
     <header class="header">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/articles">articles</a></li>
                <li><a href="/news">news</a></li>
            </ul>
        </nav>
    </header>


    <body class="main_page">

        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>

</html>